body{
    background-color: #F9F5EB;
}

hr{
    border-style: none;
    border-top-style: dotted;
    border-color: #607EAA;
    border-width: 5px;
    width: 5%;
}

h1, h3 {
    color: #1C3879;
}

